backend/.venv/
**/_pycache/
**/.pytest_cache/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

.ropeproject/
.cursorrules
.cursorignore
.cursorignore.local
.cursorignore.development.local
.cursorignore.test.local
.cursorignore.production.local
.cursorignore.local
.cursorignore.development.local
.cursorignore.test.local
.cursorignore.production.local


# docker volumes
*/minio_data
*/postgres_data
*/pgadmin_data

# Misc
.DS_Store